/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include "eyelash_corne.dtsi"

/ {
    mock_kscan: mock_kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

&chosen {
    zmk,kscan = &mock_kscan;
    zephyr,display = &oled;
};

&kscan0 {
    /delete-property/ wakeup-source;
    /delete-property/ diode-direction;
};
